version: '2'
services:
  web: &base
    build: .
    env_file:
      - .env
    volumes:
      - ./workflow:/var/app/workflow
    ports:
      - "8001:8080"
    depends_on:
      migration:
        condition: service_completed_successfully
      db:
        condition: service_started
      rabbitmq:
        condition: service_started

  worker:
    <<: *base
    environment:
      - DJANGO_SETTINGS_MODULE=workflow_app.settings # remove after change manage.py location
    ports: []
    command: >
      sh -c "celery --app workflow_app worker --concurrency=1 --loglevel=INFO -n $WORKFLOW_WORKER_NAME -Q $WORKFLOW_QUEUES --max-tasks-per-child=1"

  scheduler:
    <<: *base
    environment:
      - DJANGO_SETTINGS_MODULE=workflow_app.settings # remove after change manage.py location
    ports: []
    command: >
      sh -c "celery --app workflow_app beat --loglevel=INFO --scheduler workflow.schedulers:DatabaseScheduler --pidfile=/tmp/celerybeat.pid"

  migration:
    <<: *base
    environment:
      - DJANGO_SETTINGS_MODULE=workflow_app.settings # remove after change manage.py location
    ports: []
    depends_on:
      db:
        condition: service_started
      rabbitmq:
        condition: service_started
    command: ["python", "manage.py", "migrate_all_schemes"]

  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: workflow
    stdin_open: true
    tty: true
    ports:
      - "5441:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq
    ports:
      - "5673:5672"
    stdin_open: true
    tty: true

volumes:
  postgres_data: